* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: "Work Sans", sans-serif;
}

main {
    width: 100%;
    max-width: 700px;
    padding: 15px;
    margin: 0 auto;
}

h1 {
    font-family: "Fjalla One", sans-serif;
}


header {
    text-align: center;
    margin-bottom: 20px;
}

header img {
    width: 100px;
}

form {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 100px;
}

fieldset {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
}

legend {
    font-weight: bold;
    font-size: 18px;
    padding: 0 5px;
}

p {
    margin-bottom: 10px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
}

input[type="color"] {
    width: 50px;
    padding: 0 5px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
}

input[type="tel"],
input[type="file"] {
    margin-bottom: 0;
}

small {
    display: inline-block;
    margin-bottom: 20px;
}

textarea {
    min-height: 100px;
}

input:invalid, 
select:invalid, 
textarea:invalid {
    border-color: red;
}

input:valid, 
select:valid, 
textarea:valid {
    border-color: green;
}

button {
    width: 100px;
    height: 30px;
    margin-right: 25px;
    background-color:  #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: green;
    color: #FFFFFF;
}

button[type="reset"]:hover {
    background-color: orangered;
    color: #FFFFFF;
}

h3 {
    text-align: center;
    margin-top: 50px;
}

